{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <h1>Day {{ day }}</h1>

    <div id="messageContainer">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    <div class="flash-message">{{ message }}</div>
                    <div class="flash-close">X</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <a class="button" href="{{ path('index') }}">back</a>

    {% if puzzleAvailable %}
        <a class="button button--info" href="https://adventofcode.com/2019/day/{{ day }}">Puzzle description</a>
        <a class="button button--info" href="{{ path('showInput', {day: day}) }}">Puzzle Input</a>
    {% endif %}

    {% if puzzle %}
        {{ include('web/partials/partSolution.html.twig', {value: puzzle.solution1, part: 1}) }}
        {{ include('web/partials/partSolution.html.twig', {value: puzzle.solution2, part: 2}) }}
    {% endif %}

</div>
{% endblock %}
